<div class="card px-4 py-4">
  <h1 class="title">Leave Requests</h1>

  <div class="card mt-6">
    <header class="card-header">
      <p class="card-header-title">
        Leave Requests
      </p>
    </header>

    <div class="card-content">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td>Type</td>
            <td>Reason</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>No. of Days</td>
            <td>Status</td>
            <td>Actions</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Vacation</td>
            <td>Going to Vacation</td>
            <td>July 20, 2020</td>
            <td>July 25, 2020</td>
            <td>5</td>
            <td>Approved</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
