<div class="column">
  <% flash.each do |type, msg| %>
    <article
      class="message <%= type == 'notice' ? 'is-success' : 'is-danger' %>"
    >
      <div class="message-header">
        <p><%= msg %></p>
      </div>
    </article>
  <% end %>
</div>
